<div align="center">
  <div>
    <h2 style="color: #6495ed">{{title}}</h2>
  </div>
  <div>
    <form>
      <table>
        <tr>
          <td><label for="name">Name</label></td>
          <td><input type="text" id="name" name="name" [(ngModel)]="user.name" required/></td>
        </tr>

        <tr>
          <td><label for="email">Email</label></td>
          <td><input type="email" id="email" name="email" [(ngModel)]="user.email" required/></td>
        </tr>

        <tr>
          <td><label for="password">Password</label></td>
          <td><input type="password" id="password" name="password" [(ngModel)]="user.password" required/></td>
        </tr>

        <tr>
          <td></td>
          <td style="margin-top: 5px; margin-left: 25px;">
            <button *ngIf="!flag" (click)="createUser()">Create</button>
            <button *ngIf="flag" (click)="editUser()">Update</button>
            <input *ngIf="!flag" type="reset" value="Reset">
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
